.wrap-reward-messages{
	.p-3 {
		padding: 0.9rem 1rem !important;
	}
	.heading-with-filter{
		.filter, .sort{
			display:none;
		}
	}
		padding:40px 0px 120px 0px;
	h3{
		@include heading-style;
		display:inline-block;
	}
	.pnc-transaction-pagination{
		.month-filter{
			margin-right:15px;
			display:flex;
			align-items:center;
				span{
					margin-right:10px;
					font-family:'PNC Sans General';
				}
		}
		.card-filter{
			display:flex;
			align-items:center;
				span{
					margin-right:15px;
					font-family:'PNC Sans General';
				}
		}
		select{
			@include select-style;
			
		}
	}
		.pnc-reward-wrapper{
			@include table-shadow;
			margin-top:6px;
			line-height: 14px;
			font-size: 14px;
		a{
			color: $color-dark-gray;
			align-items:center;
		}
		.pnc-reward-message-table{
			@include table-color-dark;
			align-items:center;			
		}
		.mAlernate:nth-child(odd){
			background-color:$color-gray-4;
		}		
	}
		.p-3.col-lg-2:nth-child(5){
			text-align:right!important;								
			}
			.view-per-page-sec{
				select{
					@include select-style;
					padding:0px 10px;
				}
				.view-per-page-sec-inner{
					align-items:center;
					font-family:'PNC Sans General';
					margin-top:15px;
				}			
			}
			.view-per-page-sec-inner{
				select{
					margin:0px 15px;
					width:70px;
					-moz-appearance: none;
					-webkit-appearance: none;
					background: #fff url("../images/arrow-down.png") no-repeat center right;
					padding-right: 10px;
					margin: 0px 15px;
					width: 80px;
				}
			}
				.message-count{
					display:inline-block;
					color:$color-orange;
					font-family: "PNC Sans General";
					font-size: 14px;			
				}
				.pnc-message-count-num{
					color:$color-orange;
					font-family: "PNC Sans Regular";
					font-size: 12px;		
				}
				.view-btn{
					background-color: $color-white;
					color: $color-gray;
					margin: 0px 15px;
					border: 2px solid $color-gray-3;
					width: 85px;
				}
			.pnc-delete{
				display:none;
			}
			
	// Styling of Checkbox starts
	
		.form-check{
		padding: 0px;
		display: inline !important;
		
}	
input.form-check-input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  opacity:0;
  cursor: pointer;
}

label.reward-message {
  position: relative;
  cursor: pointer;
  font-family:"PNC Sans Regular";
   color: $color-dark-gray;
	margin-bottom: 0px;
	-webkit-user-select: none;
}

label.reward-message:before {
  content:'';
  -webkit-appearance: none;
  background-color: $color-white;
  border: 1px solid $color-dark-blue;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 5px;
}

input:checked + label.reward-message:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 14px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

// Checkbox styling ends
		.all-select a{
			color:$btn-blue;
			font-family: "PNC Sans Medium";
			font-size: 14px;
			padding:0px 10px;
			text-decoration:underline;
		}			
		}

	@include respond-below(md){	
		.wrap-reward-messages{
			padding:40px 0px 70px 0px;
		.p-3 {
			padding: 0.5rem !important;
		}
		.rewards-text{
			display: inline;
			float: left;
		}
	.heading-with-filter{
		.filter, .sort{
			display:block;
			color:$btn-blue;
			margin-top:10px;
			margin-right:15px;
			font-family:'PNC Sans Medium';
			img{
				margin-right:5px;
			}
		}
	}
	h3{
	    font-size: 30px;
		line-height: 28px;
		}
		.pagination-wrap{
			display:none;
		}
		.pnc-reward-wrapper{
			box-shadow: none !important;
			.pnc-reward-message-table{
			
			display:none !important;
		 }
		 .mAlernate{
			margin-bottom: 20px;
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
			background-color: #F1F4F5;
			padding: 5px 10px;
			background-image: url(../images/circlearrow.svg) !important;
			background-repeat: no-repeat;
			background-position: 95%;
			position: relative;
			padding-left: 35px;
	
			.mcustomerService{
				order:2;
			}
		 }
		 .p-3.col-md-2:nth-child(2) {
				display:none;
			}
			.p-3.col-md-2:nth-child(4) {
				display:none;
				text-align:left!important;
			}
			.p-3.col-md-2:nth-child(5) {
				text-align:left!important;
				font-weight:700;
			}
			.mdateAlignment{
				order:2;
				 font-family:"PNC Sans General";
		}	
			
		}
		.mAlernate span:nth-child(2) {
            white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 90px !important;  
     }
	 .sort{
		    color: $btn-blue;
			font-family: 'PNC Sans Medium';
			padding-right: 0px;
	 }
	 
	 .form-check{
		position: absolute;
    left: -22px;
    top: -12px;
	 }
		 
	}
	
	.view-per-page-sec{
		display:none;
	}
	
 }
	@include respond-below(sm){
		
		.wrap-reward-messages{
		padding:40px 0px 70px 0px;
		
		.rewards-text{
			width: 80%;
		}
			.p-3 {
    padding: 0.5rem !important;
}
	.heading-with-filter{
		.filter, .sort{
			display:block;
			color:$btn-blue;
			margin-top:10px;
			margin-right:15px;
			font-family:'PNC Sans Medium';
			img{
				margin-right:5px;
			}
		}
		
	}
	h3{
	    font-size: 26px;
		}
		.pagination-wrap{
			display:none;
		}
		.pnc-reward-wrapper{
			box-shadow: none !important;
			.pnc-reward-message-table{			
			display:none !important;
		 }
		 .mAlernate{
			margin-bottom: 20px;
			box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
			background-color: #F1F4F5;
			padding: 5px 10px 5px 35px;
			background-image: url(../images/circlearrow.svg) !important;
			background-repeat: no-repeat;
			background-position: 95%;
		.mcustomerService{
			order:2;
		}
		 }
		 .p-3.col-md-2:nth-child(2) {
				display:none;
			}
			.p-3.col-md-2:nth-child(4) {
				display:none;
				text-align:left!important;
			}
			.p-3.col-md-2:nth-child(5) {
				text-align:left!important;
				font-weight:700;
			}
			.mdateAlignment{
				order:2;
				 font-family:"PNC Sans General";
				
		}	
		}		
			.mAlernate span:nth-child(2) {
				white-space: nowrap; 
			  overflow: hidden;
			  text-overflow: ellipsis;
			  padding-right:50px !important;
     }
		 
	}
	.view-per-page-sec{
		display:none;
	}
	}
	

// Desktop Only	
	@include respond-above(md){
	
	.wrap-reward-messages{
	
	.p-3{
	padding: 0.8rem 1rem !important;
}

		
	}
	
	
	}
	
	.pnc-delete{
		color:$btn-blue;
		font-family: 'PNC Sans Medium';
		cursor:pointer;
		img{
		padding-right:5px;
		position:relative;
		bottom:3px;
		}
	}
	.modal-content{	
		.modal-body{
			padding:40px 0px;
			p{
				margin-bottom:35px;
			}
		}
		.modal-text{
			font-size: 18px;
			color:$btn-blue;
			font-family: 'PNC Sans Medium';
		}
		.delete, .cancel{
			width: 140px;
			border-radius: 4px;	
			border:2px solid $btn-blue;
			font-family: 'PNC Sans General';
			opacity:1;
			font-size:14px;
			
		}
		.delete{
			background-color:$btn-blue;
			color:$color-white;
			margin-right:20px;
		}
		.cancel{
			background-color:$color-white;
			color:$btn-blue;

		}
		
	}
	@include respond-between(sm,md){
		.pnc-reward-block-wrap{
			padding-top:15px;
		}
		.pnc-delete{
			font-size:14px;
		img{
		width:20px;
		}}
	}
	
	// Only for 5S & SE
	
	@media only screen 
	  and (min-device-width: 320px) 
	  and (max-device-width: 370px){
	  .pnc-reward-wrapper{
	  
	  font-size: 13px !important;
	  }
  
  }
	
	
	
	
	
	
	
