// Color Variables

$color-dark-blue: #2D3942;
$color-orange: #F58025;
$color-white: #fff;
$btn-blue: #0069AA;
$btn-gray: #617380;
$color-gray: #757F8A;
$color-dark-gray: #414E58;
$color-light-gray: #3C3C3C;
$color-gray-3: #D1D1D1;
$color-hamberger-menu-light-gray: #D8D8D8;
$color-black: #000000;
$zero: 0px;
$color-error: #D83B48;
$color-gray-4: #F1F4F5;

// Border Radius Variables
$border-radius: 5px;
$border-radius-large: 10px;






